* {
  font-family: "Nunito", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebe9e9;
}
img {
  width: 25px;
  height: 25px;
}
.sidebar-nav {
  background-color: #3581b8;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
}

.sidebar-top {
  font-size: 1.5rem;
  font-weight: 700px;
  margin-bottom: 3rem;
}
.sidebar-top a > div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sidebar-middle {
  margin-bottom: 3rem;
}
.sidebar-middle,
.sidebar-bottom {
  font-size: 1.25rem;
}
.sidebar-top a,
.sidebar-middle a,
.sidebar-bottom a {
  text-decoration: none;
  color: black;
}

.sidebar-middle a > div,
.sidebar-bottom a > div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0.75rem;
}

.sidebar-top a:hover,
.sidebar-middle a:hover,
.sidebar-bottom a:hover {
  transition-duration: 0.3s;
  opacity: 0.5;
}
.dashboard-icon {
  width: 50px;
  height: 50px;
}
.dashboard-header {
  background-color: #f3f8f2;
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.dashboard-main {
  display: grid;
  margin-left: 250px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.main-sections-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.project-info > p:nth-child(1) {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: #141416;
}

.project-info > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  color: #535257;
}

.project {
  position: relative;
  background-color: #f3f8f2;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: #fcb07e;
  border-radius: 7px 0 0 7px;
}
.announcements,
.trending {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 7px;
  background-color: #f3f8f2;
  padding: 20px;
}
.announcement {
  display: flex;
  flex-direction: column;
}

.announcement-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #141416;
}
.announcement-info {
  font-size: 0.8rem;
  font-weight: 300;
  color: #535257;
  padding-bottom: 10px;
}
.announcement:nth-child(-n + 2)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #535257;
  margin: 20px 0;
}
.trend-profile {
  display: flex;
  gap: 20px;
}
.trend-container {
  display: flex;
  flex-direction: column;
}
.trend-name {
  color: #141416;
}
.trend-description {
  color: #535257;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
